<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{flashcard.name}}">

  <div id="container2" style="height:90%;border:0px"></div>
  <ion-footer-bar style="display: block;">
      <div style="position: absolute; bottom: 20px; width: 100%; height: 100px">
          <a class="resetView button button-icon icon ion-android-radio-button-off"></a>
          <a class="scaleUp button button-icon icon ion-android-add-circle"></a>
          <a class="scaleDown button button-icon icon ion-android-remove-circle"></a>
          <a ng-click="addSubIdea()" class="button button-icon icon ion-fork-repo"></a>
          <a class="removeSubIdea button button-icon icon ion-ios-close-outline"></a>
          <a class="undo button button-icon icon ion-reply"></a>
          <a class="redo button button-icon icon ion-forward"></a>
          <!-- <a class="insertIntermediate button button-icon icon ion-merge"></a> -->
        <!--   <input type="button" class="addSubIdea" value="add"></input>
    <input type="button" class="editNode" value="edit"></input>
    <input type="button" class="removeSubIdea" value="delete"></input>
    <input type="button" class="insertIntermediate" value="insert parent"></input>
    <input type="button" class="toggleCollapse" value="exp/col"></input>
    <input type="button" onclick="mapModel.setInputEnabled(false)" value="disable"></input>
    <input type="button" onclick="mapModel.setInputEnabled(true)" value="enable"></input>
    <input type="button" class="undo" value="undo"></input>
    <input type="button" class="redo" value="redo"></input>
    <input type="button" data-mm-action="export-image" value="Export To Image"/>
    <input type="button" class="cut" value="cut"></input>
    <input type="button" class="copy" value="copy"></input>
    <input type="button" class="paste" value="paste"></input> -->
      </div>
      <div class="button-bar">
        <button ng-click="save()" class="button button-circle button-energized">Save</button>
        <!-- <button ng-if="isCommited()==false" ng-click="commit()" class="button button-circle button-energized">Commit</button> -->
      </div>
    <!-- <label class="item item-input item-select">
      <div class="input-label">category</div>
      <select ng-model="flashcard.category">
        <option ng-repeat="cat in categories" ng-value="{{cat.desc}}">{{cat.desc}}</option>
      </select>
    </label> -->
  </ion-footer-bar>
</ion-view>
