<ion-view view-title="Learn">

  <ion-content class="padding" style="width: 100%; height: 100%">

<!--		<input type="button" class="addSubIdea" value="add"></input>
		<input type="button" class="editNode" value="edit"></input>
		<input type="button" class="removeSubIdea" value="delete"></input>
		<input type="button" class="insertIntermediate" value="insert parent"></input>
		<input type="button" class="toggleCollapse" value="exp/col"></input>
		<input type="button" onclick="mapModel.setInputEnabled(false)" value="disable"></input>
		<input type="button" onclick="mapModel.setInputEnabled(true)" value="enable"></input>
		<input type="button" class="undo" value="undo"></input>
		<input type="button" class="redo" value="redo"></input>
		<input type="button" data-mm-action="export-image" value="Export To Image"/>
		<input type="button" class="cut" value="cut"></input>
		<input type="button" class="copy" value="copy"></input>
		<input type="button" class="paste" value="paste"></input>
		<input type="button" class="openAttachment" value="open attachment"></input>
		<input type="button" class="toggleAddLinkMode" value="add link"></input>
		Background: <input type="text" class='updateStyle' data-mm-target-property='background'></input>
    Frames: <span id="framerate"></span>
    Cycle: <span id="cyclerate"></span>
		<div id="linkEditWidget">
			<input class="delete" type="button" value="Delete"></input>
			<select class="color">
				<option value="red">Red</option>
				<option value="blue">Blue</option>
			</select>
			<select class="lineStyle">
				<option value="solid">Solid</option>
				<option value="dashed">Dashed</option>
			</select>
			<button class="arrow">Arrow</button>
		</div>-->
    <div style="width: 100%; height: 100%">
        <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%">
            <div id="container" style="overflow: auto; "></div>
        </ion-scroll>
    </div>
    <div class="fixed-outside">
        <div>
            <input type="button" class="resetView icon ion-sad" value="0"></input>
            <input type="button" class="scaleUp" value="+"></input>
            <input type="button" class="scaleDown" value="-"></input>
        </div>
        <div class="row">
            <div class="col">
                <button ng-click="calculateQuantity()" class="button button-circle button-energized icon ion-sad"></button>
            </div>
            <div class="col">
                <button class="button button-circle button-energized icon ion-sad-outline"></button>
            </div>
            <div class="col">
                <button class="button button-circle button-energized icon ion-sad"></button>
            </div>
            <div class="col">
                <button class="button button-circle button-energized icon ion-happy"></button>
            </div>
            <div class="col">
                <button class="button button-circle button-positive icon ion-happy"></button>
            </div>
        </div>       
    </div>
  </ion-content>
    <div class="fixed-outside">
        <div>
            <input type="button" class="resetView icon ion-sad" value="0"></input>
            <input type="button" class="scaleUp" value="+"></input>
            <input type="button" class="scaleDown" value="-"></input>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-circle button-energized icon ion-sad"></button>
            </div>
            <div class="col">
                <button class="button button-circle button-energized icon ion-sad-outline"></button>
            </div>
            <div class="col">
                <button class="button button-circle button-energized icon ion-sad"></button>
            </div>
            <div class="col">
                <button class="button button-circle button-energized icon ion-happy"></button>
            </div>
            <div class="col">
                <button class="button button-circle button-positive icon ion-happy"></button>
            </div>
        </div>       
    </div>
</ion-view>
