<ion-view view-title="Learn {{categories}} ({{noCardsToRepeat}})">
    
  <!-- <ion-content style="width: 100%; height: 600px"> -->

<!--		<input type="button" class="addSubIdea" value="add"></input>
		<input type="button" class="editNode" value="edit"></input>
		<input type="button" class="removeSubIdea" value="delete"></input>
		<input type="button" class="insertIntermediate" value="insert parent"></input>
		<input type="button" class="toggleCollapse" value="exp/col"></input>
		<input type="button" onclick="mapModel.setInputEnabled(false)" value="disable"></input>
		<input type="button" onclick="mapModel.setInputEnabled(true)" value="enable"></input>
		<input type="button" class="undo" value="undo"></input>
		<input type="button" class="redo" value="redo"></input>
		<input type="button" data-mm-action="export-image" value="Export To Image"/>
		<input type="button" class="cut" value="cut"></input>
		<input type="button" class="copy" value="copy"></input>
		<input type="button" class="paste" value="paste"></input>
		<input type="button" class="openAttachment" value="open attachment"></input>
		<input type="button" class="toggleAddLinkMode" value="add link"></input>
		Background: <input type="text" class='updateStyle' data-mm-target-property='background'></input>
    Frames: <span id="framerate"></span>
    Cycle: <span id="cyclerate"></span>
    <!-- <div style="width: 100%; height: 100%"> -->
        
            <!-- <div id="container" style="overflow: auto; "></div> -->
    <!-- </div> -->
   
  <!-- </ion-content> -->
    <ion-content>
        <!--<p class="row">Cards to repeat: {{noCardsToRepeat}}</p> --> 
      <div id="container"></div>

    </ion-content>
    <div style="position: absolute; bottom: 0px; width: 100%; height: 100px">
        <div>
            <a class="resetView button button-icon icon ion-android-radio-button-off"></a>
            <a class="scaleUp button button-icon icon ion-android-add-circle"></a>
            <a class="scaleDown button button-icon icon ion-android-remove-circle"></a>
            <button ng-click="showInfo()" class="button button-icon icon ion-android-radio-button-off">
        </div>

        <div class="button-bar">
            <button ng-click="grade(1)" class="button button-circle button-assertive icon ion-sad"><span class="badge badge-balanced">{{grades[1]}}</span></button>
            <button ng-click="grade(2)" class="button button-circle button-assertive icon ion-sad"><span class="badge badge-balanced">{{grades[2]}}</span></button>
            <button ng-click="grade(3)" class="button button-circle button-energized icon ion-sad"><span class="badge badge-balanced">{{grades[3]}}</span></button>
            <button ng-click="grade(4)" class="button button-circle button-energized icon ion-happy"><span class="badge badge-balanced">{{grades[4]}}</span></button>
            <button ng-click="grade(5)" class="button button-circle button-balanced icon ion-happy"><span class="badge badge-assertive">{{grades[5]}}</span></button>
            <button ng-click="grade(6)" class="button button-circle button-balanced icon ion-happy"><span class="badge badge-assertive">{{grades[6]}}</span></button>
        </div>
          
    </div>

</ion-view>
